{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">
      <img class="custom-image" src={{asset('media/Logo.png')}}>
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/register">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/login">Se connecter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<main>
    

    <div class= "content-register" > 

      <div class="card-register" style="width: 80rem;">

        <div class="h1-home">
          <h1>S'inscrire</h1>
        </div>

        <div>
        
          {{ form_errors(registrationForm) }}

          {{ form_start(registrationForm) }}
            <div class="form-register">
              {{ form_row(registrationForm.name) }}
            </div>

            <div class="form-register">
              {{ form_row(registrationForm.email) }}
            </div>

            <div class="form-register">
              {{ form_row(registrationForm.delivery_address) }}
            </div>


            <div class="form-register">
              {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe:'
              }) }}
            </div>

            <div class="form-register">
              {{ form_row(registrationForm.agreeTerms) }}
             </div>
          <button type="submit" class="btn btn btn-customregister">S'inscrire</button>
          {{ form_end(registrationForm) }}



        </div>

        <div>

          <div>
            <h2 class="h2-register">Vous avez déjà un compte ?</h2>
          </div>

          <div >
            <a href="http://127.0.0.1:8000/login" class="btn btn-customregister2" >Se connecter</a>
          </div>


        </div>


      </div>

    </div>
</main>


<footer>
    <div>
        <p class="p-footer">Nom de la société : Stubborn</p>
        <p class="p-footer">Adresse : Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
        <p class="p-footer">Adresse de contact : stubborn@blabla.com</p>
        <p class="p-footer">Slogan: Don't compromise on your look</p>
    </div>
</footer>

{% endblock %}
