{% extends 'base.html.twig' %}

{% block title %}Création de la commande{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">
      <img class="custom-image" src={{asset('media/Logo.png')}}>
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/products">Boutique</a>
        </li>
      </ul>
    </div>
  </div>
</nav>







<main class= "page-wrapper">
  <div class= "h1-home container position-relative zindex-2 pt-5 pb-lg-5 pb-md-4 pb-2">
    <h1 >Création de la commande</h1>
    
  <div>

  <div class= "container position-relative zindex-2 pt-5 pb-lg-5 pb-md-4 pb-2">
    
    <form action="{{ path('order_recap') }}">
      <div class="row">
        <div class="col-lg-12 offset-lg-1 pt-1">
          <h2 class="pb-2 pt-md-2 my-4 mt-lg-5">Récapitulatif de la commande <span class='fs-base fw-normal text-muted'>({{ recapCart|length }} produits)</span></h2>
          {% set total = null %}
          {% for product in recapCart %}
            {% set total = total + (product.product.price * product.quantity) %}

          <div class="d-sm-flex align-items-center border-top py-4">
        
          <div class="w-100 pt-1 ps-sm-4">
            <div class="card col-md-6 col-lg-4" style="width: 50rem;">
              <div class="image-order ">
               <img src="{{ vich_uploader_asset(product.product, 'attachmentFile') }}" width="80" height="80" alt="image">
              </div>
              <div class="card-body">
                <h5 class="card-title">Nom:{{product.product.name}} </h5>
                <p class="card-text">Tailles: </p>
                <p> Quantité:{{product.quantity}} </p>
                
              </div>
              <div class="text-end ms-auto">
                <div class="fs-5 mb-2">Prix: {{ (product.product.price / 100)|number_format(2, ',')  }}  €</div>
                
              </div>
            </div>

          </div>
        </div>
        {% endfor %}
        <div class="text-end ms-auto">
          <h3>Total : {{ (total / 100)|number_format(2, ',') }} €</h3>
        </div>
        <div class="text-end ms-auto">
          <button class="btn btn-lg btn-customorder " type="submit">FINALISER MA COMMANDE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
    
    

</main>



<footer>
    <div>
        <p class="p-footer">Nom de la société : Stubborn</p>
        <p class="p-footer">Adresse : Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
        <p class="p-footer">Adresse de contact : stubborn@blabla.com</p>
        <p class="p-footer">Slogan: Don't compromise on your look</p>
    </div>
</footer>

{% endblock %}
